#grid-container {
    display: inline-grid;
    position: relative;
    grid-gap: 0px;
    background: red;
    width: auto;
    border: 5px solid grey;
}
  
#grid-container > span, #grid-container > span.snake.head {
    background: #bcff4f !important;
}

#grid-container > span.snake, #grid-container > span.snake.tail {
    background: #567522 !important;
    -webkit-box-shadow:inset 0px 0px 0px 4px #bcff4f;
    -moz-box-shadow:inset 0px 0px 0px 4px #bcff4f;
    box-shadow:inset 0px 0px 0px 4px #bcff4f;
    background-repeat:   no-repeat !important;
    background-position: center center !important;
}

#grid-container > span.snake.head {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: url("./images/head.png") !important;
    background-repeat:   no-repeat!important;
    background-position: center center!important;
}

#grid-container > span.bonus {
    background-image: url("/images/apple.png") !important;
    background-repeat:   no-repeat!important;
    background-position: center center!important;
}

#grid-container > span.snake.head.RIGHT {
    transform: rotate(0deg);
}
#grid-container > span.snake.head.LEFT {
    transform: scaleX(-1);
}
#grid-container > span.snake.head.DOWN {
    transform: rotate(90deg);
}
#grid-container > span.snake.head.UP {
    transform: rotate(-90deg);
}

#game-controlls {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    color: white;
    font-weight: bold;

}

#game-controlls > button#start {
    margin-top: 50px;
}
